<!DOCTYPE html>
<html>
  <head>
    <title>opal-sprockets demo</title>
    <link rel="stylesheet" type="text/css" href="http://mathieuancelin.github.io/js-repaint-perfs/styles.css" />
    <link rel="stylesheet" type="text/css" href="http://mathieuancelin.github.io/js-repaint-perfs/lib/bootstrap.min.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="dbmon"></div>
    <script src="app/ENV.js"></script>
    <script src="http://mathieuancelin.github.io/js-repaint-perfs/lib/memory-stats.js"></script>
    <script src="http://mathieuancelin.github.io/js-repaint-perfs/lib/monitor.js"></script>
    <%= javascript_include_tag 'app' %>
  </body>
</html>
